<div class="banner" id="home">
	<div class="container"> 
		<div class="top-header row">
			 <!-- <script src="/assets/classie.js"></script> -->
			<!--top-nav -->
			<div class="logo">
				<!-- <a href="/"><img src="/assets/logo.png" alt="" height="100" width="100"/></a> -->
				<a href="/"><h1 class="slogans">HD UPADHYAY</h1></a>
			</div>
			<div class="top-nav">
				<div class="nav-icon">
					    <a href="#" class="right_bt" id="activator"><span> </span> </a>
				</div>
				<div class="box" id="box">
					<div class="box_content">        					                         
						<div class="box_content_center">
							<div class="form_content">
								<div class="menu_box_list">
									<ul>
										<li><a class="scroll" href="#home"><span>home</span></a></li>
										<li><a class="scroll" href="#about"><span>about</span></a></li>
										<li><a class="scroll" href="#services"><span>services</span></a></li>
										<li><a class="scroll" href="#portfolio"><span>portfolio</span></a></li>
										<li><a class="scroll" href="#testimonial"><span>Testimonial</span></a></li>
										<li><a class="scroll" href="#blog"><span>blog</span></a></li>
										<li><a class="scroll" href="#contact"><span>Contact</span></a></li>
										<div class="clearfix"> </div>
									</ul>
								</div>
								<a class="boxclose" id="boxclose"> <span> </span></a>
							</div>                                  
						</div> 	
					</div> 
				</div>       	  
			</div>
			<!---start-click-drop-down-menu--- -->
			        <!---- start-dropdown- -->
			         <script type="text/javascript">
						var $ = jQuery.noConflict();
							$(function() {
								$('#activator').click(function(){
									$('#box').animate({'top':'0px'},900);
								});
								$('#boxclose').click(function(){
								$('#box').animate({'top':'-1000px'},900);
								});
							});
							$(document).ready(function(){
							//Hide (Collapse) the toggle containers on load
							$(".toggle_container").hide(); 
							//Switch the "Open" and "Close" state per click then slide up/down (depending on open/close state)
							$(".trigger").click(function(){
								$(this).toggleClass("active").next().slideToggle("slow");
									return false; //Prevent the browser jump to the link anchor
							});
												
						});
					</script>
			<!---//End-click-drop-down-menu--- -->
			<div class="clearfix"> </div>
		</div>
		<div class="banner-info">
			<div class="banner-left">
				<img src="/assets/1.gif" alt="" height="250" width="250"/>
			</div>
			<div class="banner-right">
				<h1>I’M HARDIK UPADHYAY</h1>
				<div class="border"></div>
				<h2>FULL STACK DEVELOPER</h2>
				<a href="/resume-hardikupadhyay.pdf" target="_blank">DOWNLOAD MY RESUME</a>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!--/header-banner-->
<!--about-->
<div class="about text-center" id="about">
	<div class="container">
		<h3>ABOUT ME</h3>
		<div class="strip text-center"><img src="/assets/about.png" alt=" "/></div>
		<p>I am a rails geek and want to leave my best foot print on IT world. Having Expertise and strength to solve complex problems with agile approach. Result oriented, self driven, highly motivated and smart. I am a very keen developer and always eager to make my hands dirty with new technologies, I am true believer of learning and sharing, and strict follower of agile methodology. I am wanderlust soul. </p>
		<ul>
			<li><a class="fb" href="https://www.facebook.com/hdupadhyay" target="_blank"></a></li>
			<li><a class="twit" href="https://twitter.com/Hardik161192" target="_blank"></a></li>
			<li><a class="in" href="https://www.linkedin.com/in/hardik-upadhyay" target="_blank"></a></li>
			<li><a class="drib" href="http://stackoverflow.com/users/6270554/hardik-upadhyay" target="_blank"></a></li>
			<li><a class="goog" href="https://plus.google.com/113895995082221548626" target="_blank"></a></li>
			<li><a class="pin" href="https://github.com/hardikupadhyay16" target="_blank"></a></li>
		</ul>
	</div>
</div>
<!--//about-->
<div class="about-back"></div>
<!--my skill-->
<div class="my-skills text-center">
	<div class="container">
		<h3>MY SKILLS</h3>
		<div class="strip text-center"><img src="/assets/skill.png" alt=" "/></div>
		<div class="skill-grids">
					<div class="col-md-2 skills-grid text-center">
						<div class="circle" id="circles-1"></div>
						<p>Html 5 / CSS 3</p>
					</div>
					<div class="col-md-2 skills-grid text-center">
						<div class="circle" id="circles-2"></div>
						<p>JavaScript/Jquery</p>
					</div>
					<div class="col-md-2 skills-grid text-center">
						<div class="circle" id="circles-3"></div>
						<p>OOPS Concept</p>
					</div>
					<div class="col-md-2 skills-grid text-center">
						<div class="circle" id="circles-4"></div>
						<p>Server Management</p>
					</div>
					<div class="col-md-2 skills-grid text-center">
						<div class="circle" id="circles-5"></div>
						<p>Database Management</p>
					</div>
					<div class="col-md-2 skills-grid text-center">
						<div class="circle" id="circles-6"></div>
						<p>RubyOnRails</p>
					</div>
					<div class="clearfix"> </div>
				  <!-- <script type="text/javascript" src="js/circles.js"></script> -->
					         <script>
								var colors = [
										['#6ed4c0', '#ffffff'], ['#6ed4c0', '#ffffff'], ['#6ed4c0', '#ffffff'], ['#6ed4c0', '#ffffff'], ['#6ed4c0', '#ffffff'], ['#6ed4c0', '#ffffff']
									];
								var perc = [85,75,95,70,80,80]
								for (var i = 1; i <= 6; i++) {
									var child = document.getElementById('circles-' + i);
									//percentage = 30 + (i * 10);
									Circles.create({
										id:         child.id,
										percentage: perc[i - 1],
										radius:     80,
										width:      10,
										number:   	perc[i - 1] / 1,
										text:       '%',
										colors:     colors[i - 1]
									});
								}
						
				</script>
		</div>
	</div>	
</div>
<!--//my skill-->
<div class="my-skill-back"></div>
<!--education-->
<div class="education text-center">
	<div class="container">
		<div class="edu-info">
			<h3>EDUCATION</h3>
		</div>
		<div class="strip text-center"><img src="/assets/edu.png" alt=" "/></div>
		<div class="edu-grids">
			<div class="col-md-4 edu-grid">
				<p>2012 - 2015</p><span>Post Graduate</span>
				<img src="/assets/arrow.png" alt=""/>
				<div class="edu-border">
					<div class="edu-grid-master">
						<h3>MASTER IN COMPUTER APPLICATION</h3>
						<h4>Gujarat Technological University</h4>
					</div>
					<div class="edu-grid-info">
						<h5>I have completed Master of Computer Application from L J Institute of Engineering, Ahmedabad, Gujarat, India with 8.23 CGPA.</h5>
					</div>
				</div>
			</div>
			<div class="col-md-4 edu-grid">
				<p>2009 - 2012</p><span>Graduated</span>
				<img src="/assets/arrow.png" alt=""/>
				<div class="edu-border">
					<div class="edu-grid-master">
						<h3>BACHELOR IN COMPUTER APPLICATION</h3>
						<h4>HNGU</h4>
					</div>
					<div class="edu-grid-info">
						<h5>I have completed Bachelor of Computer Application from L J Kendra, Modasa, Gujarat, India with distiction.</h5>
					</div>
				</div>
			</div>
			<div class="col-md-4 edu-grid">
				<p>2007 - 2009</p><span>High School</span>
				<img src="/assets/arrow.png" alt=""/>
				<div class="edu-border">
					<div class="edu-grid-master">
						<h3>11th - 12th</h3>
						<h4>GSEB</h4>
					</div>
					<div class="edu-grid-info">
						<h5>I have completed Higher Secondary from The Ideal high school, Kothamba, Gujarat, India with 81.82%.</h5>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	
</div>
<!--//education-->
<div class="strip-border"><p></p></div>
<!--work-->
<div class="work-experience text-center">
	
	<div class="container">
		<div class="work-info">
			<h3>WORK EXPERIENCE</h3>
		</div>
		<div class="strip text-center"><img src="/assets/work.png" alt=" "/></div>
		<div class="work-grids">
			<div class="col-md-4 w-grid">
				<div class="work-grid">
					<h3>2014 - 2016</h3>
					<div class="work-grid-info">
            <a href="https://www.bacancytechnology.com/", target="_blank">
              <h4>Bacancy Technology</h4>
            </a>
						<h5>Jr.Rails Developer</h5>
						<p>I started my career in bacancy technology where I learned about Ruby on rails framework and developed
              some of the great projects of my career which you can check in portfolio tab.
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 w-grid">
				<div class="work-grid">
					<h3>2016 - Present</h3>
					<div class="work-grid-info">
            <a href="https://www.atharvasystem.com/", target="_blank">
						  <h4>Atharva System</h4>
            </a>
						<h5>Rails Developer</h5>
						<p>A company with vision. Where I learned various things regarding server, container, and AWS services.
              it's take me to next level.</p>
					</div>
				</div>
			</div>
			<!-- <div class="col-md-4 w-grid">
				<div class="work-grid">
					<h3>2013 - Now</h3>
					<div class="work-grid-info">
						<h4>Google</h4>
						<h5>Visual Designer</h5>
						<p>Now that there is the Tec-9, a crappy spray gun from South Miami. 
						This gun is advertised as the most popular gun in American crime. 
						Do you believe that shit? It actually says that in the little book 
						that comes with it: the most popular gun in</p>
					</div>
				</div>
			</div> -->
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!--//work-->
<div class="services-back"></div>

<!--services-->
<div class="services text-center" id="services">
	<div class="container">
		<div class="ser-info">
			<h3>SERVICES</h3>
		</div>
		<div class="strip text-center"><img src="/assets/ser.png" alt=" "/></div>
		<div class="ser-grids">
			<div class="col-md-3 ser-grid">
				<div class="ser-imagea"></div>
				<h3>Web Development</h3>
				<p>Whether your business is small or big web site is always a way to express your self and it's your first impression, my experienced and knowledge will craft a unique identity for your company.</p>
			</div>
			<div class="col-md-3 ser-grid">
				<div class="ser-imagec"></div>
				<h3>REST API Development</h3>
				<p>The REST APIs are for developers who want to integrate Confluence into their application and for administrators who want to script interactions with the Confluence server.</p>
			</div>
			<div class="col-md-3 ser-grid">
				<div class="ser-imageb"></div>
				<h3>E-commerce</h3>
				<p>While online shopping has become a common activity for many consumers, then security is one that customer always concern about. I will help you to create most secure and trusty e-commerce platform.</p>
			</div>
			<div class="col-md-3 ser-grid">
				<div class="ser-imaged"></div>
				<h3>Deployment</h3>
				<p>Deployment is not just about to go live and make servises to public but its a responsibility to handle load and security. That what I will provide you most. </p>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!--//services-->
<!--portfolio-->
<div class="gallery-section text-center" id="portfolio">
	<div class="container">
		<h3>PORTFOLIO</h3>
		<div class="strip text-center"><img src="/assets/port.png" alt=" "/></div>
		<p>Portfolio is way to showcase your self. but I am more concern about what I will do not what I had already done. </p>
		<div class="gallery-grids">
			<div class="top-gallery">
				<div class="col-md-4 gallery-grid gallery1">
					<a href="/assets/p1.jpg" class="swipebox"><img src="/assets/p1.jpg" class="img-responsive" alt="/">
						<div class="textbox">
							<h4>Bleapp(IBeacon)</h4>
							<p>Real Estate App</p>
							<div class="button"><a href="https://www.bleapp.net/" class="" target="_blank">VIEW</a></div>
						</div>
          </a>
				</div>
				<div class="col-md-4 gallery-grid gallery1">
					<a href="/assets/p2.jpg" class="swipebox"><img src="/assets/p2.jpg" class="img-responsive" alt="/">
						<div class="textbox">
							<h4>RetailCP</h4>
							<p>Scheduler App</p>
							<div class="button"><a href="https://retailcp.ie/" class="" target="_blank">VIEW</a></div>
						</div>
          </a>
				</div>
				<div class="col-md-4 gallery-grid gallery1">
					<a href="/assets/p3.jpg" class="swipebox"><img src="/assets/p3.jpg" class="img-responsive" alt="/">
						<div class="textbox">
							<h4>Endorsevent(Vency.com)</h4>
							<p>Promoting Events</p>
							<div class="button"><a href="http://vensy.co.uk/" class="" target="_blank">VIEW</a></div>
						</div>
          </a>
				</div>
				<div class="col-md-4 gallery-grid gallery1">
					<a href="/assets/p4.jpg" class="swipebox"><img src="/assets/p4.jpg" class="img-responsive" alt="/">
						<div class="textbox">
							<h4>Ontario(Laser cutting)</h4>
							<p>Production Managemen</p>
							<div class="button"><a href="http://ontario.herokuapp.com/" class="" target="_blank">VIEW</a></div>
						</div>
          </a>
				</div>
				<div class="col-md-4 gallery-grid gallery1">
					<a href="/assets/p5.jpg" class="swipebox"><img src="/assets/p5.jpg" class="img-responsive" alt="/">
						<div class="textbox">
							<h4>Invoice App</h4>
							<p>Charge-to-invoice</p>
							<div class="button"><a href="https://invoice.retailcp.ie/" class="" target="_blank">VIEW</a></div>
						</div>
          </a>
				</div>
				<div class="col-md-4 gallery-grid gallery1">
					<a href="/assets/p6.jpg" class="swipebox"><img src="/assets/p6.jpg" class="img-responsive" alt="/">
						<div class="textbox">
							<h4>Phamily</h4>
							<p>Health Care</p>
							<div class="button"><a href="http://phamilycares.com/" class="" target="_blank">VIEW</a></div>
						</div>
          </a>
				</div>
				<div class="clearfix"> </div>
			</div>
				<!-- <link rel="stylesheet" href="css/swipebox.css"> -->
				 <!-- <script src="js/jquery.swipebox.min.js"></script> --> 
					<script type="text/javascript">
						jQuery(function($) {
							$(".swipebox").swipebox();
						});
					</script>
		</div>
	</div>
</div>
<!--//portfolio-->
<!--process-->
<div class="process text-center">
	<div class="container">
		<h3>PROCESS</h3>
		<div class="strip text-center"><img src="/assets/pro.png" alt=" "/></div>
		<div class="process-girds">
			<div class="col-md-2 process-pad">
				<div class="process-gird">
					<div class="process-imagea"></div>
					<p>IDEA</p>
					<img src="/assets/6.png" alt=""/>
				</div>
			</div>
			<div class="col-md-2 process-pad">
				<div class="process-gird">
					<div class="process-imageb"></div>
					<p>CONCEPT</p>
					<img class="pro-imga" src="/assets/6.png" alt=""/>
				</div>
			</div>
			<div class="col-md-2 process-pad">
				<div class="process-gird">
					<div class="process-imagec"></div>
					<p>DESIGN</p>
					<img class="pro-img" src="/assets/6.png" alt=""/>
				</div>
			</div>
			<div class="col-md-2 process-pad">
				<div class="process-gird">
					<div class="process-imaged"></div>
					<p>DEVELOP</p>
					<img class="pro-imgb" src="/assets/6.png" alt=""/>
				</div>
			</div>
			<div class="col-md-2 process-pad">
				<div class="process-gird">
					<div class="process-imagee"></div>
					<p>TEST</p>
					<img src="/assets/6.png" alt=""/>
				</div>
			</div>
			<div class="col-md-2 process-pad">
				<div class="process-gird">
					<div class="process-imagef"></div>
					<p>LAUNCH</p>
					
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<div class="contact-back"></div>
<!--contact-->
<div class="contact" id="contact">
	<div class="container">
		<div class="contact-info text-center">
			<h3>CONTACT</h3>
			<div class="strip text-center"><img src="/assets/con1.png" alt=" "/></div>
		</div>
		<div class="contact-grids">
			<div class="col-md-5 contact-left">
				<h3>Say Hi to Me</h3>
				<div class="stripb"></div>
				<ul>
					<li>22,Zankar society </li>
					<li>near, vejalpur police chowki </li>
					<li>Ahmedabad, Gujarat,India</li>
					<li>+919537300010</li>
					<li><a href="mailto:info@example.com">hardik.upadhyay1992@mail.com</a></li>
					<li><a href="#">www.hdupadhyay.herokuapp.com</a></li>
				</ul>
			</div>
			<div class="col-md-7 contact-right">
				<h3>Drop Me A Line</h3>
				<div class="stripb"></div>
					<%= form_tag("/send_mail", method: :post) do %>
					  <%= text_field_tag(:name,nil,placeholder: 'Name',required: true)%>
					  <%= email_field_tag(:email,nil,placeholder: 'Email',required: true) %>
					  <%= text_area_tag(:desc,nil,placeholder: 'Enter Description',required: true) %>
					  <%= submit_tag("SEND") %>
					<% end %>
					<!-- <input type="text" value="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}" required>
					<input type="text" value="E-mail" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'E-mail';}" required>
					<textarea type="text" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}" required>Message</textarea> -->
					<!-- <input type="submit" value="SEND"> -->
				<!-- </form> -->
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!--//contact-->
<div class="footer-top"></div>
<!--resume-->
<div class="resume text-center">
	<div class="container">
		<div class="strip text-center"><a href="#"><img src="/assets/down.png" alt=" "/></a></div>
		<div class="down"><a href="/resume-hardikupadhyay.pdf" target="_blank">Download My Resume</a></div>
	</div>
</div>
<!--//resume-->


<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
<!-- //here ends scrolling icon